.footer {
  background-color: #f9f4e2;
}
.footer-container {
  max-width: 1208px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 58px;
}
.information {
  display: flex;
  gap: 40px;
}
.information-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
  text-decoration: none;
}
.social-media {
  display: flex;
  gap: 20px;
}
.number {
  display: flex;
  gap: 10px;
}
.number-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  text-decoration: none;
}
