.header {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1208px;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-goods {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-btn-catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  background: #70c05b;
  border-radius: 4px;
  border: none;
}
.catalog {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-right: 8px;
  padding-left: 8px;
}

.seacrh-input {
  border: solid 1px #70c05b;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 8px;
  width: 375px;
}
.seacrh-input::placeholder {
  border: none;
  color: #8f8f8f;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.search {
  position: relative;
  left: -20px;
}

.form {
  padding-left: 16px;
}
.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-sections {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.section-name {
  border: none;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.header-user-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header-user-menu-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
  gap: 10px;
}
.header-user-menu-avatar-chevron-down {
  background-color: white;
  border: none;
}
.basket-length {
  font-size: 8px;
  padding: 2px 4px;
  position: absolute;
  background-color: #ff6633;
  border-radius: 4px;
  color: white;
  top: -6px;
  right: 17px;
}
